.breadcrumb-option {
    background: #f3f2ee;
    padding: 40px 0;
}

.breadcrumb__text h4 {
    color: #111111;
    font-weight: 700;
    margin-bottom: 8px;
}

.breadcrumb__links a {
    font-size: 15px;
    color: #111111;
    margin-right: 18px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.breadcrumb__links a:after {
    position: absolute;
    right: -14px;
    top: 0;
    content: "/";
    font-family: "FontAwesome";
}

.breadcrumb__links span {
    font-size: 15px;
    color: #b7b7b7;
    display: inline-block;
}

/* shop */
.shop {
    margin-bottom: 50px;
}

.shop__sidebar {
    padding-right: 20px;
}

.shop__sidebar__accordion .card {
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
}

.shop__sidebar__accordion .card:last-child {
    margin-bottom: 0;
}

.shop__sidebar__accordion .card:last-child .card-body {
    padding-bottom: 0;
    border-bottom: none;
}

.shop__sidebar__accordion .card-body {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.shop__sidebar__accordion .card-heading {
    cursor: pointer;
}

.shop__sidebar__accordion .card-heading .sidebar__title {
    color: #111111;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    text-align: left;
    white-space: nowrap;
    /* Không xuống dòng */
}

.shop__sidebar__accordion .card-heading .icon {
    text-align: right;
}

.shop__sidebar__accordion .card-heading .icon i {
    transition: transform 0.3s ease;
}

.shop__sidebar__accordion .card-heading .icon.open i {
    transform: rotate(180deg);
}

.shop__sidebar__categories ul,
.shop__sidebar__price ul,
.shop__sidebar__brand ul {
    height: 225px;
}

.shop__sidebar__categories ul li,
.shop__sidebar__price ul li,
.shop__sidebar__brand ul li {
    list-style: none;
}

.shop__sidebar__categories ul li p,
.shop__sidebar__price ul li p,
.shop__sidebar__brand ul li p {
    /* color: #b7b7b7; */
    font-size: 15px;
    line-height: 32px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    cursor: pointer;
}

.shop__sidebar__categories ul li p:hover,
.shop__sidebar__price ul li p:hover,
.shop__sidebar__brand ul li p:hover {
    color: #111111;
}

/* Class làm nổi bật khi bộ lọc được chọn */
.active-filter {
    color: #111111;
    font-weight: bold;
    text-decoration: underline;
}

/* Class làm nổi bật màu sắc khi được chọn */
.active-color {
    border: 5px solid #111111;
}

.shop__sidebar__brand ul {
    height: auto;
}

.shop__sidebar__price ul {
    height: auto;
}

.shop__sidebar__color {
    padding-top: 15px;
}

.shop__sidebar__color label {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}

.shop__sidebar__color label.black {
    background-color: black;
}

.shop__sidebar__color label.red {
    background-color: red;
}

.shop__sidebar__color label.blue {
    background-color: blue;
}

.shop__sidebar__color label.green {
    background-color: green;
}

.shop__sidebar__color label.yellow {
    background-color: yellow;
}

.shop__sidebar__color label:after {
    position: absolute;
    left: -3px;
    top: -3px;
    height: 36px;
    width: 36px;
    border: 1px solid #e5e5e5;
    content: "";
    border-radius: 50%;
}

.shop__sidebar__color label input {
    position: absolute;
    visibility: hidden;
}

.shop__product__option {
    margin-bottom: 45px;
}

.shop__product__option p {
    color: #111111;
    margin-bottom: 0;
}

.shop__product__option__right {
    text-align: right;
}



.shop__product__option__right p {
    display: inline-block;
    margin-bottom: 0;
}

.shop__product__option__right .nice-select {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 0;
    line-height: 26px;
    height: auto;
    border: none;
    padding-right: 28px;
}

.shop__product__option__right .nice-select .current {
    color: #111111;
    font-size: 15px;
    font-weight: 700;
    border: none;
    width: 120px;
    /* Đặt chiều rộng cố định, đủ cho "Low To High" */
    white-space: nowrap;
    /* Không xuống dòng */
}

.shop__product__option__right .nice-select.open .list {
    display: block;
    /* Show dropdown when open */
    text-align: left;
}

.shop__product__option__right .nice-select .list {
    display: none;
    /* Hide dropdown by default */
    position: absolute;
    z-index: 100;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.shop__product__option__right .nice-select ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.shop__product__option__right .nice-select .option {
    padding: 8px 12px;
    cursor: pointer;
}

.shop__product__option__right .nice-select .option:hover {
    background-color: #f0f0f0;
}


.product-list-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Full height of the viewport */
}


.product-list {
    flex-grow: 1;
}

.product__color__select label {
    border: 1px solid #ddd;
}

.product__pagination {
    padding-top: 25px;
    text-align: center;
    cursor: pointer;
    margin-top: auto;
}

.product__pagination .pages {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #111111;
    height: 30px;
    width: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

.product__pagination .pages.active {
    border-color: #111111;
}

.product__pagination .pages:hover {
    border-color: #111111;
}

.product__pagination span {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #111111;
    padding-left: 10px;
    padding-right: 15px;
}

/* Accordion khi mở */
.accordion-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.accordion-enter-active {
    max-height: 500px;
    /* Hoặc giá trị phù hợp với chiều cao nội dung */
    opacity: 1;
    transform: translateY(0);
    /* Phần title di chuyển xuống */
}

/* Accordion khi thu lại */
.accordion-exit {
    max-height: 500px;
    /* Hoặc giá trị phù hợp với chiều cao nội dung */
    opacity: 1;
    overflow: hidden;
    transform: translateY(0);
}

.accordion-exit-active {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    /* Phần title di chuyển lên */
    transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out, transform 300ms ease-in-out;
}